link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet", href="/css/layout.css")
link(rel="stylesheet", href="/css/index.css")
script(src="/jquery/dist/jquery.min.js")
script(src="/bootstrap/dist/js/bootstrap.min.js")