nav.navbar.navbar-fix-top.navbar-default
  .row
    a.logo-small.col-md-1.col-md-offset-1.btn(href="#")
      img(src="/img/logo.png")
    ul.nav.navbar-nav.col-md-4
      li.active
        a 首页
      li
        a 话题
      li
        a 发现
      li
        a 消息
    .nav.navbar-nav.col-md-3
      button.btn.btn-primary.navbar-btn.col-md-2(data-toggle="modal" data-target="#question") 发帖
    ul.nav.navbar-nav.col-md-3.user-control
      if user
        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false")
            img(src= user.img)
            span= user.username
          ul.dropdown-menu
            li
              a(data-phone= user.phoneNumber) 个人主页
            li
              a(href="/signout") 登出
      else
        a(href="/login").navbar-btn.btn.btn-primary 请登录
