#question-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h2 写下你的问题
        h5#modal-error.red.center       
      .modal-body
        form
          .form-group
            input#question-title.form-control(type="text" placeholder="问题标题")
          .form-group
            textarea(rows= 5 type="text" placeholder="描述问题")#question-content.form-control
          button#question-submit.btn.btn-primary 提交问题
      .modal-footer