.reply-content
  .reply-header.row
    .reply-header-left.col-md-1
      a.reply-img
        img(src="/img/user.jpg")
    .reply-header-right.col-md-11
      h5.gray 鸟语
  .reply-body.row
    h5.col-md-11.col-md-offset-1 dsads