#page-control.col-md-offset-4(aria-label)
  ul.pagination
    li
      a(href="pre" aria-label="Previous")
        span(aria-hidden="true") &laquo;
    li.active
      a(href="1") 1
    li
      a(href="next" aria-label="Next")
        span(aria-hidden="true") &raquo;