* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-around;
}
.main {
  margin-top: 0px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
}
.logo {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
}
.tab-list {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-around;
}
.submit {
  width: 100%;
}
#tab {
  position: relative;
}
#error {
  display: none;
  color: red;
  position: absolute;
  left: 150px;
  top: 10px;
}
#verify-alert {
  color: red;
}
.form-inline {
  margin-bottom: 15px;
}